 
html,body{
    font-family: "Times New Roman", Times, serif;
    font-size:15px;
    height: 100%; 
    width: 100%; 
    margin: 0; 

    background-image: url('img1.jpeg');
    
    background-position: center;
    background-size: cover;
}

.wrapper {
    max-width: 900px;
    margin: auto;
    font-family: "Arial";
}
 
.toolbar{
    height: 100%;
    width: 100%;
    background-image: url("wall2.jpg");
    background-color: #fcf6f6;
    overflow: auto;
    
    border: 5px solid #62bdc9;
    border-radius: 10px;
    box-shadow: 20px 20px 30px white;
    background-position: center;
    background-size: cover;
}

#uploadfile{
    width: 60px;
    height: 60px;
    position: absolute;
    opacity: 0;
}
 
.toolbar a {
    float: left;
    width: 11%;
    text-align: center;
    padding: 6px 5px;
    transition: all 0.4s ease;
    color: white;
}
 
/* Change color on hover */
.toolbar a:hover {
    opacity: 0.5;
    
  }

  #color{
    position: absolute;
    width: 90px;
    height: 90px;
    opacity: 0.5;
    background-color: white;
  }

  
 
/* Change color on selected icon */
.selected {
 
    background-color: rgb(49, 190, 136); 
    border-radius: 2em;
    
    
}
 
#my-canvas{
    width: 100%;
    border: 3px solid #62bdc9;
    box-shadow:  20px 20px 50px white;
    border-radius: 10px;
    background-color: white;
}
 
#img-data-div{
    width: 100%;
    max-width: 900px;
    height: 200px;
}
 
/* Resize image to container */
.toolbar a img{
    max-width:100%;
    height:auto;
}

#imageLoader{

    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0;
    background-color: white;

}





